In [15]:
#tkinter
#mysql

Requirement already satisfied: mysql-connector-python in c:\users\rutika\anaconda3\anaconda\lib\site-packages (8.3.0)
Requirement already satisfied: 3 in c:\users\rutika\anaconda3\anaconda\lib\site-packages (0.0.0)

In [3]:
import mysql.connector
conn=mysql.connector.connect(user='root',password='rutu@2509',host='localhost',database='mydb')
qur='create table employee(name varchar(40),mob varchar(40),dept varchar(40),sal varchar(40))'
mycur=conn.cursor()
mycur.execute(qur)
mycur.close()

ProgrammingError: 1050 (42S01): Table 'employee' already exists

In [ ]:
def show():
    conn=mysql.connector.connect(user='root',password='rutu@2509',host='localhost',database='mydb')
    qur='select * from employee'
    mycur=conn.cursor()
    mycur.execute(qur)
    list1=mycur.fetchall()
    mycur.close()
    for i in list1:
        treev.insert('',END,values=(i[0],i[1],i[2],i[3]))
    
def add():
    name=n1.get()
    mob=n2.get()
    dept=n3.get()
    salary=n4.get()
    if name=='' or mob=='' or dept=='' or salary=='':
        messagebox.showinfo('info','Its compulsory to fill all fields')
    else:
        conn=mysql.connector.connect(user='root',password='rutu@2509',host='localhost',database='mydb')
        qur=f"insert into employee values('{name}','{mob}','{dept}','{salary}')"
        mycur=conn.cursor()
        mycur.execute(qur)
        conn.commit()
        mycur.close()
        messagebox.showinfo('info','Data is added successfully')
        n1.set('')
        n2.set('')
        n3.set('')
        n4.set('')
        
def salary():
    root=Tk()
    root.title('salary show')
    root.configure(bg='cyan')
    root.geometry('600x600')
    def disp():
        name=e7.get()
        conn=mysql.connector.connect(user='root',password='rutu@2509',host='localhost',database='mydb')
        qur=f"select sal from employee where name='{name}'"
        mycur=conn.cursor()
        mycur.execute(qur)
        tup1=mycur.fetchone()
        l8.config(text=tup1[0]+' RS')
        mycur.close()
        conn.close()
    l7=Label(root,text='Enter Name',width=15,bd=5,relief='ridge')
    l7.place(x=100,y=40)
    var3=StringVar()
    e7=Entry(root,width=20,textvariable=var3,bd=5,relief='ridge')
    e7.place(x=250,y=40)
    b9=Button(root,text='SHOW',bd=5,relief='ridge',width=12,command=disp)
    b9.place(x=220,y=80)
    l8=Label(root,text='salary is here',width=30,height=5)
    l8.place(x=100,y=140)
    root.mainloop()
def delete():
    name=n5.get()
    if name=='':
        messagebox.showinfo('info','Its compulsory to fill all fields')
    else:
        conn=mysql.connector.connect(user='root',password='rutu@2509',host='localhost',database='mydb')
        qur=f"delete from employee where name='{name}'"
        mycur=conn.cursor()
        mycur.execute(qur)
        conn.commit()
        mycur.close()
        messagebox.showinfo('info','Data is deleted successfully')
        n5.set('')
def select():
    name=n6.get()
    if name=='':
        messagebox.showinfo('info','Its compulsory to fill all fields')
    else:
        conn=mysql.connector.connect(user='root',password='rutu@2509',host='localhost',database='mydb')
        qur=f"select * from employee where name='{name}'"
        mycur=conn.cursor()
        mycur.execute(qur)
        tup1=mycur.fetchone()
        e1.insert(0,tup1[0])
        e2.insert(0,tup1[1])
        e3.insert(0,tup1[2])
        e4.insert(0,tup1[3])
        mycur.close()
        conn.close()
def update():
    name=n1.get()
    mob=n2.get()
    dept=n3.get()
    salary=n4.get()
    if name=='' or mob=='' or dept=='' or salary=='':
        messagebox.showinfo('info','Its compulsory to fill all fields')
    else:
        conn=mysql.connector.connect(user='root',password='rutu@2509',host='localhost',database='mydb')
        qur=f"update employee set mob='{mob}',dept='{dept}',sal='{salary}' where name='{name}'"
        mycur=conn.cursor()
        mycur.execute(qur)
        conn.commit()
        mycur.close()
        messagebox.showinfo('info','Data is updated successfully')
        n1.set('')
        n2.set('')
        n3.set('')
        n4.set('')
        n6.set('')
def clear():
    treev.delete(*treev.get_children())
import mysql.connector
from tkinter import *
from tkinter import messagebox
from tkinter import ttk
win=Tk()
win.title('employee management system')
win.configure(bg='skyblue')
win.geometry('800x600')
#main label
l0=Label(win,text='Employee management system',bg='white',fg='black',bd=5,relief='ridge',width=40,font=('times new roman',16,'bold'))
l0.place(x=268,y=40)
#name label and entry
l1=Label(win,text='Employee Name',bg='white',fg='black',bd=5,relief='ridge',width=20,font=('times new roman',12,'bold'))
l1.place(x=190,y=100)
n1=StringVar()
e1=Entry(win,bg='white',fg='black',bd=5,textvariable=n1,relief='ridge',width=40,font=('times new roman',12,'bold'))
e1.place(x=405,y=100)
#mobile number label and entry
l2=Label(win,text='Mobile number',bg='white',fg='black',bd=5,relief='ridge',width=20,font=('times new roman',12,'bold'))
l2.place(x=190,y=150)
n2=StringVar()
e2=Entry(win,bg='white',fg='black',bd=5,textvariable=n2,relief='ridge',width=40,font=('times new roman',12,'bold'))
e2.place(x=405,y=150)
#dept label and entry
l3=Label(win,text='Department',bg='white',fg='black',bd=5,relief='ridge',width=20,font=('times new roman',12,'bold'))
l3.place(x=190,y=200)
n3=StringVar()
e3=Entry(win,bg='white',fg='black',bd=5,textvariable=n3,relief='ridge',width=40,font=('times new roman',12,'bold'))
e3.place(x=405,y=200)
#salary label and entry
l4=Label(win,text='Salary',bg='white',fg='black',bd=5,relief='ridge',width=20,font=('times new roman',12,'bold'))
l4.place(x=190,y=250)
n4=StringVar()
e4=Entry(win,bg='white',fg='black',bd=5,textvariable=n4,relief='ridge',width=40,font=('times new roman',12,'bold'))
e4.place(x=405,y=250)
#button add show exit salary
b1=Button(win,text='SHOW',width=15,font=('times new roman',12,'bold'),command=show)
b1.place(x=200,y=320)
b2=Button(win,text='ADD',width=15,font=('times new roman',12,'bold'),command=add)
b2.place(x=500,y=320)
b1=Button(win,text='EXIT',width=15,font=('times new roman',12,'bold'),command=win.destroy)
b1.place(x=200,y=370)
b2=Button(win,text='SALARY',width=15,font=('times new roman',12,'bold'),command=salary)
b2.place(x=500,y=370)
#delete label entry button
l5=Label(win,text='Enter Name>>',bg='white',fg='black',bd=5,relief='ridge',width=20,font=('times new roman',12,'bold'))
l5.place(x=190,y=450)
n5=StringVar()
e5=Entry(win,bg='white',fg='black',bd=5,textvariable=n5,relief='ridge',width=40,font=('times new roman',12,'bold'))
e5.place(x=405,y=450)
b2=Button(win,text='DELETE',width=15,font=('times new roman',12,'bold'),command=delete)
b2.place(x=350,y=500)
#update label
l6=Label(win,text='Enter Name>>',bg='white',fg='black',bd=5,relief='ridge',width=20,font=('times new roman',12,'bold'))
l6.place(x=190,y=550)
n6=StringVar()
e6=Entry(win,bg='white',fg='black',bd=5,textvariable=n6,relief='ridge',width=40,font=('times new roman',12,'bold'))
e6.place(x=405,y=550)
b3=Button(win,text='SELECT',width=15,font=('times new roman',12,'bold'),command=select)
b3.place(x=250,y=600)
b4=Button(win,text='UPDATE',width=15,font=('times new roman',12,'bold'),command=update)
b4.place(x=450,y=600)
#treeview
treev=ttk.Treeview(win,height=25)
treev.place(x=800,y=100,width=530)
treev['columns']=('1','2','3','4')
treev['show']='headings'
treev.column('1',width=90,anchor='c')
treev.column('2',width=90,anchor='se')
treev.column('3',width=90,anchor='se')
treev.column('4',width=90,anchor='se')
treev.heading('1',text='Name')
treev.heading('2',text='Mobile No')
treev.heading('3',text='Dept')
treev.heading('4',text='Salary')
#clear button
b5=Button(win,text='CLEAR',width=15,font=('times new roman',12,'bold'),command=clear)
b5.place(x=1000,y=650)
win.mainloop()